<%= form_for(@count) html: { multipart: true } do |f| %>
  <% if @count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@count.errors.count, "error") %> prohibited this count from being saved:</h2>

      <ul>
      <% @count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :goal %><br>
    <%= f.number_field :goal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
