
<div class="large-12 columns">

<p id="notice"><%= notice %></p>
<div class="show-content">
<!--     <strong>Image:</strong> -->
  <%= image_tag @count.image.url(:medium) %>

  <div>
    <p>
      <strong>Im counting:</strong>
      <%= @count.name.pluralize %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @count.description %>
    </p>

    <p>
      <strong>Current Count:</strong>
      <%= @count.count %>
    </p>

    <p>
      <strong>My Goal:</strong>
      <%= @count.goal %>
    </p>
  </div>
  <!-- May need variable set for current % -->
<!-- How does it account for cound ID? Knows what it is dividing? -->
<p><strong>I have reached</strong> <b><%= @count.pct.round %>%</b> of your goal.</p>

<button class="button"><%= link_to 'Edit', edit_count_path(@count) %></button> |
<button class="button"><%= link_to 'Back', counts_path %></button>
</div>
</div>



